.tools/
.idea/
.DS_Store

**/target/
**/build/
**/.classpath
**/.project
**/.settings/

sync-ui/node_modules/
sync-ui/dist/

data/
work/
vendor/downloads/
vendor/tools/
*.log
.tmp/
sync-admin-server/logs/
